<li class="nav-item dropdown p-2">
    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ dropdown_title }}</a>
    <ul class="dropdown-menu">
        {% for title, link in dropdown_items %}
            <li><a href="{{ url_for(link) }}" class="nav-link dropdown-item">{{ title }}</a></li>
        {% endfor %}
    </ul>
</li>