{% macro _subheader(title) %}
    {% include "headers/subheaders/" +  title + ".html" %}
{% endmacro %}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{{ url_for('index') }}" class="navbar-brand">Boilerplate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{ _subheader("calculations") }}
                    {{ _subheader("recepts") }}
                    {{ _subheader("users") }}
                </ul>
                {{ _subheader("entry") }}
            </div>
        </div>
    </nav>
</header>