.form-errors {
    border: 3px var(--bs-danger) solid;
}

.form-error {
    background-color: var(--bs-danger-bg-subtle);
}

tr.selected-row * {
    background-color: var(--bs-secondary);
    color: white;
}

a.white-link {
    color: white;
    text-decoration: none;
}

#import_protocol {
    overflow-y: auto;
    overflow-x: hidden;
    height: 10em;
}