<section class='flashed-messages'>
    {% for message in get_flashed_messages() %}
        <div class="row justify-content-center">
            <div class="alert alert-{{ message.category }} alert-dismissible fade show col-sm-8" role="alert">
                <h4 class="alert-heading">{{ message.title }}</h4>
                <hr>
                {{ message.text | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
</section>