{% from "macros.html" import link with context %}

<footer class="container-fluid text-center mt-auto py-3 bg-body-tertiary">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        {% for url, title in [("index", "Массовый расчёт"), ("index", "Одиночный расчёт"), ("index", "Импорт инструментов")] %}
            {{ link(url, title, footer=True) }}
        {% endfor %}
    </ul>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/meteor_clear.svg') }}" alt="Бренд METEOR" height="36"> <!-- Момент с указанием height. -->
        </div>
    </div>
</footer>