{% macro link(url, title, id=None, data_id=None, footer=False) %}
    <li class="nav-item {% if not footer %}p-2{% endif %}"><a href="{{ url_for(url) }}" class="nav-link" 
        {% if id %}
            id={{ id }} 
        {% endif %}
        {% if data_id %}
            data-id={{ data_id }}
        {% endif %}>{{ title }}</a></li>
{% endmacro %}

{% macro render_form(form, params={}, method="post") %}
    <form method="{{ method }}" {% if params.with_files %}enctype='multipart/form-data'{% endif %} {% if params.form_id %}id='{{ params.form_id }}'{% endif %} class="container text-center">
        
        {% for field in form %}
            {% set input_type = field.widget.input_type if field.widget.input_type else None %}
            {% if input_type == 'hidden' %}
                {{ form.hidden_tag() }}
            {% elif input_type != 'submit' %}
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        {% if input_type in ['email', 'text', 'password', 'number', None] %}
                            <div class="form-floating my-3">
                                {{ field(class="form-control") }}
                                {{ field.label }}
                            </div>
                        {% elif input_type == "checkbox" %}
                            <div class="form-check form-switch my-3">
                                {{ field(class="form-check-input") }}
                                {{ field.label }}
                            </div>
                        {% elif input_type == "file" %}
                            <div class="m-3">
                                <h2>{{ field.label }}</h2>
                                {{ field(class="form-control-lg", accept=".xls, .xlsx") }}  <!-- Не сработает для не Excel файлов. -->
                            </div>
                        {% else %}
                            {{ input_type }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if field.errors %}
                <div class="row justify-content-center mb-3">
                    <div class="col-sm-4 form-errors rounded-2">
                        {% for error in field.errors %}
                            <div class="row p-2 justify-content-center">
                                <div class="col-sm-10 p-2 form-error rounded-2">
                                    <span>{{ error }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        {% if form.submit %}
            <div class="row justify-content-center">
                {{ form.submit(class='btn btn-primary col-sm-2 my-3') }}
            </div>
        {% endif %}
    </form>
{% endmacro %}

{% macro single_form_page(form, title) %}
    <h1 class="text-center">{{ title }}</h1>
    <section>
        {{ render_form(form, kwargs) }}
    </section>
{% endmacro %}
